.burger {

    width: 80%;
    height: 30px;

    cursor: pointer;
    z-index: 100;
    /* background-color: rgb(136, 0, 255); */
    background-image: url('../../images/icon_1.svg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: 45px;

}

#nav{
    position: relative;
    display: block;
}


/* @media screen and (min-width: 767px) {
    .burger {
        width: 50px;
    }
} */